body {
  margin: 0;
  padding: 0; }

.collection {
  height: 7em;
  margin-top: 1em;
  display: flex; }

.item {
  padding: 3em 0.2em;
  color: white;
  margin-right: 0.3em; }

.red-base-color {
  background-color: red; }

.red-darken1 {
  background-color: #cc0000; }

.red-lighten1 {
  background-color: #ff3333; }

.red-darken2 {
  background-color: #990000; }

.red-lighten2 {
  background-color: #ff6666; }

.red-darken3 {
  background-color: #660000; }

.red-lighten3 {
  background-color: #ff9999; }

.red-darken4 {
  background-color: #330000; }

.red-lighten4 {
  background-color: #ffcccc; }

.green-base-color {
  background-color: lime; }

.green-darken1 {
  background-color: #00cc00; }

.green-lighten1 {
  background-color: #33ff33; }

.green-darken2 {
  background-color: #009900; }

.green-lighten2 {
  background-color: #66ff66; }

.green-darken3 {
  background-color: #006600; }

.green-lighten3 {
  background-color: #99ff99; }

.green-darken4 {
  background-color: #003300; }

.green-lighten4 {
  background-color: #ccffcc; }

.blue-base-color {
  background-color: blue; }

.blue-darken1 {
  background-color: #0000cc; }

.blue-lighten1 {
  background-color: #3333ff; }

.blue-darken2 {
  background-color: #000099; }

.blue-lighten2 {
  background-color: #6666ff; }

.blue-darken3 {
  background-color: #000066; }

.blue-lighten3 {
  background-color: #9999ff; }

.blue-darken4 {
  background-color: #000033; }

.blue-lighten4 {
  background-color: #ccccff; }
